:root {
    --middle-letter-color: #FF0000
}

p:hover {
    color: red;
    border: 5px black;
}

.spdr-word-container {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

p:has(.spdr-word-container) {
    display: flex !important;
    align-content: center;
    justify-content: center;
}

.spdr-middle-letter {
    font-weight: bold;
    color: var(--middle-letter-color);
}

.spdr-letter {
    text-align: center;
    width: 1.2ch;
}
